doctype html
html
  head
    title Canvas Experiment
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    script(src='javascripts/board.js')
    script(src='javascripts/game.js')
    script(src='javascripts/main.js')